@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic,700,300);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
	margin-left: 10px;
	color: white;

	font-family: "Open Sans Condensed", sans-serif;
}

#picture{
	border: 2px solid;
	border-color: white;
	border-radius: 25px;

	-webkit-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);
box-shadow: 3px 3px 0px 1px rgba(0,0,0,1);

-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg);
}

#content a, #content a:active, #content a:hover{
	font-family: "Oswald", sans-serif;
	color: white;
	font-size: 30pt;

	 -webkit-text-stroke: 1px black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h1{
	font-family: "Oswald", sans-serif;
	 -webkit-text-stroke: 1px black;
	text-shadow:
       3px 3px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}

.sub{
	font-family: "Lobster", cursive;
}

.center{
	width: 100%;
	text-align: center;
}

.big{
	font-size: 40pt;
}

.black{
	color: black;
}

.white{
	color: white;
}

#links a{
	margin-right: 10px;
	color: white;
	 -webkit-text-stroke: 1px black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#links a:last-child{
	margin-right: 0px !important;
}

.fa-github:hover{
	color: gray;
}

.fa-facebook:hover{
	color: #48649f;
}

.fa-twitter:hover{
	color: #55acee;
}

.fa-google-plus:hover{
	color: #dd4b39;
}

.fa-instagram:hover{
	color: #675144;
}

.fa-stack-overflow:hover{
	color: #FE7A15;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0,0,0, .8);
}

::selection {
    color: white; 
    background: rgba(0,0,0, .8);
}

.myModal{
	display: none;

	color: black;
	background-color: white;

	min-width: 30%;
	max-width: 50%;
	min-height: 50px;
	max-height: 400px;

	overflow: auto;

	padding: 15px;

	border-width: 5px;
	border-style: double;
}

@media all and (max-width: 840px) {
	.myModal{
		max-width: 80% !important;
		max-height: 90% !important;
		height: auto !important;
	}
}

.modal .current{
	display: block !important;
}

#title{
	z-index: 99;
}