@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

body { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

body{
	margin-left: 10px;
	color: white;
}

.center{
	width: 100%;
	text-align: center;
}

.oswald{
	font-family: 'Oswald', sans-serif !important;
}

.big{
	font-size: 35pt;
}

#picture{
	position: fixed;
	bottom: -50px;
	right: -50px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-khtml-border-radius: 100px;
	-webkit-border-radius: 100px;
	border: 4px black;
}

.black{
	color: black;
}

.white{
	color: white;
}